.feature {

}
.source {
	font-size: 10px;
	font-style: italic;
}
.article pic {
	margin: 50px;
	width: 70%;
}
#content {
	margin: 0 auto;
	width: 700px;
}
.chart {
	margin: 20px;
	width: 100%;
}
h1 {
	font-size: 50px;
	font-family: serif;
}
#byline {
	font-style: italic;
}
