.feature {
	margin: 20px;
	width: 100%;
}
.source {
	font-size: 10px;
	font-style: italic;
}
.article pic {
	margin: 50px;
	width: 100%;
}
.pic {
	margin: 20px;
	width: 50%;
}
#content {
	margin: 0 auto;
	width: 700px;
}
.chart {
	margin: 20px;
	width: 100%;
}
h1 {
	font-size: 50px;
	font-family: serif;
}
#byline {
	font-style: italic;
}
blockquote {
font-size: 22px;
font-family: Helvetica, Arial, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #4F1001;
margin-left: 50px;
padding-left: 15px;
border-right: 10px solid #4F1001;
border-left: 10px solid #4F1001;
}
i {
	font-style: italic;
}
