.feature {

}
.source {
	font-size: 10px;
	font-style: italic;
}
.article pic {
	margin: 50px;
	width: 70%;
}
#content {
	margin: 0 auto;
	width: 700px;
}
.chart {
	margin: 20px;
	width: 100%;
}
h1 {
	font-size: 50px;
	font-family: serif;
}
#byline {
	font-style: italic;
}
blockquote {
font-size: 20px;
font-family: Helvetica, Arial, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: #E1A000;
margin-left: 50px;
padding-left: 15px;
border-right: 8px solid #E1A000;
border-left: 8px solid #E1A000;
}
